---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/kk2bw5ojx476/environments/master/entries?content_type=invalid_type&limit=2&skip=0
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.17.0; platform ruby/2.7.5; os macOS/21;
      Authorization:
      - Bearer 7ac531648a1b5e1dab6c18b0979f822a5aad0fe5f1109829b8a197eb2be4b84c
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"9611481539801045581"'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries"
      Contentful-Api:
      - cda
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - 3ff43481-18a1-4247-a4db-3701c815abe8
    body:
      encoding: ASCII-8BIT
      string: '{"sys":{"type":"Error","id":"InvalidQuery"},"message":"The query you
        sent was invalid. Probably a filter or ordering specification is not applicable
        to the type of a field.","details":{"errors":[{"name":"unknownContentType","value":"DOESNOTEXIST"}]},"requestId":"0d2c0d4d-8206-49cd-bae7-76fffaf4409f"}

        '
  recorded_at: Mon, 22 May 2023 10:21:23 GMT
recorded_with: VCR 6.1.0
